<%= form_for Article.new do |form| %>
 
  <p style="margin:15px">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
 
  <p style="margin:25px">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </p>
 
 <p>
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </p>
 
  <p style="margin:5px">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>